.container{
    background-color: azure;
    border-color: blue;
    border-style: solid;
    border-width: 3px;
    display:grid;
    
    
}
.h{
    background-color: coral;
    border-style: solid;
    border-color: brown;
}